<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092504446719-4vabv78pa4mh1dg4apbgcuvk13obmehl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092504446719-4vabv78pa4mh1dg4apbgcuvk13obmehl</string>
	<key>API_KEY</key>
	<string>AIzaSyDe_8fOjaQ75nhzIKkkuXABkIxp1lUQ668</string>
	<key>GCM_SENDER_ID</key>
	<string>1092504446719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.galle.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>galle-47740</string>
	<key>STORAGE_BUCKET</key>
	<string>galle-47740.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092504446719:ios:c0bb0ae1037a55c2220eca</string>
</dict>
</plist>